*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}
html,body{
  width:100%;
  height:100%;
}

body{
  background: #000;
}

.parent{
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  margin:10px;
  flex-wrap: wrap;
}
.card{
  background: #fff;
  height:350px;
  width:350px;
  border-radius:20px;
  padding:15px;
  margin:10px;
}

.top{
  display:flex;
 align-items:center;
 justify-content: space-between;

}
.logo{
  width:50px;
  height:50px;
  border-radius: 50%;
  border:2px solid #dadada;
  object-fit: cover;
  margin-left: 10px;
 
}

.top button{
border-radius:5px;
border:none;
padding:8px;
display:flex;
align-items: center;
font-size: 11px;
cursor:pointer;

}

.mid h3{
  margin:10px;
  font-weight: 400;
}

.mid span{
  font-size: 10px;
  color:gray;
  opacity:.5;

}

.mid h2{
  font-size: 20px;
  margin: 10px;
  font-weight: 800;

}

.time{
  gap:10px;
  padding:5px;
  font-size: 10px;
  background-color: rgba(211, 207, 207, 0.542);
  border:none;
  border-radius: 5px;
  margin-left:10px;
  cursor:pointer
}

.end{
  border-top: 1px solid rgb(227, 226, 226);
  margin-top:120px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-top:10px;
}

.hr p{
  font-size: 12px;
  color:gray;
  opacity: .6;
}

.apply{
  background-color: #000;
  color: #fff;
  padding:10px;
  border-radius: 10px;
  border:none;
  cursor:pointer;
}
hr{
  opacity: .4;
}

@media (max-width:768px){
.card{
  padding:0.8 rem;
}
.card h2{
  font-size:1rem;
}
}

@media (max-width:480px){
  .card{
    flex-direction: column;
    text-align: center;
  }
  .card img.logo{
    margin:0 auto;
  }
}